<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<!-- NAVBAR -->
 
<div class="page-container dashboard-container">
    <div class="navbar">
        <img src="/static/images/logo.jpeg" class="nav-logo">

        <ul class="nav-links">
            <li><a href="/dashboard">Home</a></li>
            <li><a href="/missing">Missing people</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/helpline">Help-Line</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </div>

    <!-- MAIN AREA -->
    <div class="dashboard-body">
        <div class="unity">
            <img src="/static/images/unity.jpeg" alt="unity">
        </div>

        <div class="text">
            <h2>Let’s Start</h2>
            <h1>Finding With Unity</h1>
        </div>
    </div>
</div>

</body>
</html>
