<!DOCTYPE html>
<html>
<head>
    <title>Help-Line</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="page-container dashboard-container">

    {% include "navbar.html" %}

    <div>
     
        <div class="help-container">
            <h1 class="help-line-title">Help-Line & Emergency Support</h1>

            <h2>Emergency Numbers (India)</h2>
            <p>🚨 Police Emergency: <b>112</b></p>
            <p>👶 Child Helpline: <b>1098</b></p>
            <p>🚑 Ambulance: <b>108</b></p>
            <p>👩 Women Helpline: <b>181</b></p>
            <p>🌐 Cyber Crime: <b>1930</b></p>

            <h2>Platform Support</h2>
            <p>📧 Email: support@findtogether.org</p>
            <p>📞 Phone: +91 90000 12345</p>
            <p>⏰ Available: 24/7</p>
</div>

    </div>

</div>

</body>
</html>
