<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anvesha</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="hero">
    
    <div class="left">
            <img src="./static/images/logo.jpeg" alt="Anvesha Logo">
    </div>

    <div class="right">
        <h1>Anvesha</h1>
        <p>Find Your Loved Ones</p>
        <a href="/start" class="btn">Start Now</a>
    </div>

</div>

</body>
</html>
